@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
</head>
<body>
<div>
    <h1>Home Page</h1>
    <a href='@Url.Action("Login")'>Login</a>   
    <a href='@Url.Action("Register")'>Register</a>   
</div>
</body>
</html>