@{
    Layout = null;
}

<form action="/Home/Login" method="post">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="text" name="password" id="password" placeholder="Password">
    <button type="submit">Login</button>
</form>