@{
    Layout = null;
}
@using Microsoft.AspNetCore.Authorization;

@inject IAuthorizationService authorizationService;

<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
</head>
<body>
<div>
    <h1>Home Page</h1>
    <a href='@Url.Action("Secret")'>Secret</a>   <br />
    <a href='@Url.Action("SecretPolicy")'>Secret Policy</a>   
</div>

<div>

    @if (User.Identity.IsAuthenticated)
    {
        <h2>User is authenticated</h2>  
    } else {
        <h2>user is not authenticated</h2>  
    }
    
@if ((await authorizationService.AuthorizeAsync(User, "Claim.DoB")).Succeeded)
{
    <h1>User has Dob Claims</h1>
}
</div>
</body>
</html>