@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
</head>
<body>
<div>
    <h1>Home Page</h1>
    <a href='@Url.Action("Secret")'>Secret</a>   <br />
    <a href='@Url.Action("SecretPolicy")'>Secret Policy</a>   
</div>
</body>
</html>